Saleboard.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="salesboard">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="buy" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="ItemToBuy"/>
              <xs:element type="xs:float" name="Price"/>
              <xs:element type="xs:string" name="Description"/>
              <xs:element type="xs:string" name="Contact_details"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="sale" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="ItemForSale"/>
              <xs:element type="xs:float" name="Price"/>
              <xs:element type="xs:string" name="Description"/>
              <xs:element type="xs:string" name="Contact_details"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>