Saleboard.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="salesboard">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ad" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="ItemForSale" minOccurs="0"/>
              <xs:element type="xs:string" name="ItemToBuy" minOccurs="0"/>
              <xs:element type="xs:short" name="Price"/>
              <xs:element type="xs:string" name="Description"/>
              <xs:element type="xs:string" name="Contact_details"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>